<a href="https://colab.research.google.com/github/afonsosecundaria/projeto-tcc-analise-dados/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
tabela_cvt = pd.read_excel('arquivos/Estatísticas_CVT_2018.xlsx')
tabela_cvt.head()

,ESTATÍSTICAS CVT-ESPACIAL - 2018,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NOME,NaN,NaN,NaN,NaN,NaN,DATA DE NASCIMENTO,NaN,CONTATO,NaN,...,ESCOLA,NaN,NaN,NaN,NaN,NaN,EVENTO,NaN,NaN,DATA
1,GABRIEL LUIS REIS DE SOUZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,DIA ESPACIAL,NaN,NaN,2018-03-12 00:00:00
2,LARISSA OLIVEIRA MENDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,DIA ESPACIAL,NaN,NaN,2018-03-12 00:00:00
3,ALANA CRISTINA PESSOA LIMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,DIA ESPACIAL,NaN,NaN,2018-03-12 00:00:00
4,CAIO LUCAS DA SILVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,DIA ESPACIAL,NaN,NaN,2018-03-12 00:00:00